@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    column-gap: 3.75rem;
    font-family: 'DM Sans';
    font-size: 1.6875rem;
}

a{
    text-decoration: none;  
}